@page "/"
@page "/home"

<h1>CycloneDX Web Tool</h1>

<p>A web based tool for working with CycloneDX BOMs.</p>

<p>All submitted data is processed client side in your browser. No data is transmitted elsewhere.</p>

<p>This is a progressive web app. And supports running offline. CTRL+F5 should force a reload to make sure you are
    running the latest version.</p>

<p>Source code is available at the <a href="https://github.com/CycloneDX/cyclonedx-web-tool/">CycloneDX Web Tool GitHub page</a>,
and is <a href="https://github.com/CycloneDX/cyclonedx-web-tool/blob/main/LICENSE">Apache 2.0</a> licensed.</p> 