@page "/"
@page "/home"

<h1>CycloneDX Web Tool</h1>

<p>A web based tool for working with CycloneDX BOMs.</p>

<p>This tool is currently in preview, with limited functionality.</p>

<p>All submitted data is processed client side in your browser. No data is transmitted elsewhere.</p>

<p>Source code is available at the <a href="https://github.com/CycloneDX/cyclonedx-web-tool/">CycloneDX Web Tool GitHub page</a>,
and is <a href="https://github.com/CycloneDX/cyclonedx-web-tool/blob/main/LICENSE">Apache 2.0</a> licensed.</p> 