@* This file is part of CycloneDX Web Tool *@
@* *@
@* Licensed under the Apache License, Version 2.0 (the “License”); *@
@* you may not use this file except in compliance with the License. *@
@* You may obtain a copy of the License at *@
@* *@
@* http://www.apache.org/licenses/LICENSE-2.0 *@
@* *@
@* Unless required by applicable law or agreed to in writing, software *@
@* distributed under the License is distributed on an “AS IS” BASIS, *@
@* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. *@
@* See the License for the specific language governing permissions and *@
@* limitations under the License. *@
@* *@
@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) Patrick Dwyer. All Rights Reserved. *@

@page "/"
@page "/home"

<h1>CycloneDX Web Tool</h1>

<p>A web based tool for working with CycloneDX BOMs.</p>

<p>All submitted data is processed client side in your browser. No data is transmitted elsewhere.</p>

<p>This is a progressive web app. And supports running offline. CTRL+F5 should force a reload to make sure you are
    running the latest version.</p>

<p>Source code is available at the <a href="https://github.com/CycloneDX/cyclonedx-web-tool/">CycloneDX Web Tool GitHub page</a>,
and is <a href="https://github.com/CycloneDX/cyclonedx-web-tool/blob/main/LICENSE">Apache 2.0</a> licensed.</p> 