@* This file is part of CycloneDX Web Tool *@
@* *@
@* Licensed under the Apache License, Version 2.0 (the “License”); *@
@* you may not use this file except in compliance with the License. *@
@* You may obtain a copy of the License at *@
@* *@
@* http://www.apache.org/licenses/LICENSE-2.0 *@
@* *@
@* Unless required by applicable law or agreed to in writing, software *@
@* distributed under the License is distributed on an “AS IS” BASIS, *@
@* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. *@
@* See the License for the specific language governing permissions and *@
@* limitations under the License. *@
@* *@
@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) OWASP Foundation. All Rights Reserved. *@

@page "/validate"
@using System.IO
@using System.Text
@using Microsoft.AspNetCore.Components.Forms
@using CycloneDX.Models
@using CycloneDX.Xml
@using CycloneDX.Json

@inject IJSRuntime _jsRuntime;

<h1>Validate</h1>

<form>
    <label>
        File
        <InputFile id="inputFile" OnChange="@LoadInputFile"></InputFile>
    </label>
    
    <label>
        Format
        <select id="inputFormat" @bind="_inputFormat">
            <option value="autodetect" selected="selected">Autodetect</option>
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
    </label>
    
    <label>
        Version
        <select id="inputVersion" @bind="_inputVersion">
            <option value="v1_7" selected="selected">v1.7</option>
            <option value="v1_6">v1.6</option>
            <option value="v1_5">v1.5</option>
            <option value="v1_4">v1.4</option>
            <option value="v1_3">v1.3</option>
            <option value="v1_2">v1.2</option>
            <option value="v1_1">v1.1</option>
            <option value="v1_0">v1.0</option>
        </select>
    </label>
    
    <button id="Validate" type="button" @onclick="@ValidateBOM" hidden="@(_inputFileContents == null)">Validate</button>
</form>

<p>@_validationMessage</p>

@code {
    private string _inputFileContents;
    private string _userInputFilename;
    private string _inputFormat = "autodetect";
    private string _inputVersion = "v1_7";
    private string _validationMessage = "";

    private async Task Alert(string message)
    {
        await _jsRuntime.InvokeVoidAsync("alert", message);
    }

    private async Task LoadInputFile(InputFileChangeEventArgs e)
    {
        if (e.FileCount == 1)
        {
            using (var sr = new StreamReader(e.File.OpenReadStream(102400000)))
            {
                _inputFileContents = await sr.ReadToEndAsync();
            }
            _userInputFilename = e.File.Name;
        }
        else
        {
            _inputFileContents = null;
            _userInputFilename = null;
        }
    }

    private async Task ValidateBOM()
    {
        if (!Enum.TryParse(_inputVersion, out SpecificationVersion specificationVersion))
        {
            await Alert("Looks like you've hit a bug. This shouldn't happen, but there has been a problem reading the schema version.");
            return;
        }

        ValidationResult result;

        if (_inputFormat == "json" || _inputFormat == "autodetect" && _userInputFilename.EndsWith(".json"))
        {
            try
            {
                result = Json.Validator.Validate(_inputFileContents, specificationVersion);
            }
            catch (Exception e)
            {
                await Alert("Error validating BOM: " + e.Message);
                return;
            }
        }
        else if (_inputFormat == "xml" || _inputFormat == "autodetect" && _userInputFilename.EndsWith(".xml"))
        {
            try
            {
                result = Xml.Validator.Validate(_inputFileContents, specificationVersion);
            }
            catch (Exception e)
            {
                await Alert("Error deserializing BOM: " + e.Message);
                return;
            }
        }
        else
        {
            await Alert("Unable to auto-detect input format. Please specify the format.");
            return;
        }

        if (result.Valid)
        {
            _validationMessage = "";
            await Alert($"The file is a valid {_inputVersion.Replace('_', '.')} BOM.");
        }
        else
        {
            var sb = new StringBuilder();
            foreach (var message in result.Messages)
            {
                sb.AppendLine(message);
            }
            _validationMessage = sb.ToString();
            await Alert($"The file is not a valid {_inputVersion.Replace('_', '.')} BOM.");
        }
    }
}
