# This workflow is used for publishing the static GitHub pages site.
#
# Before triggering a release the `semver.txt` file should be updated in the
# relevant branch.
#
# When commiting the version change in `semver.txt` the commit message is
# important as it will be used for the release in GitHub.
#
# For an example commit browse to
# https://github.com/CycloneDX/cyclonedx-dotnet/commit/d110af854371374460430bb8438225a7d7a84274.
# 
# The resulting release is here
# https://github.com/CycloneDX/cyclonedx-dotnet/releases/tag/v1.0.0.
#
# Releases are triggered manually. This can be done by browsing to
# https://github.com/CycloneDX/cyclonedx-web-tool/actions?query=workflow%3ARelease
# and selecting "Run workflow". If releasing a patch for a previous version
# make sure the correct branch is selected. It will default to the default
# branch.
name: Release

on:
  workflow_dispatch

# see https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  release:
    name: Release
    permissions:
      contents: write  # for creating GH releases and uploading assets to it
    runs-on: ubuntu-latest
    timeout-minutes: 30
    outputs:
      release-version: ${{ steps.package_release.outputs.version }}
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: '8.0'

      # Build and package everything
      - name: Package release
        id: package_release
        run: |
          VERSION=`cat semver.txt`
          echo "##[set-output name=version;]$VERSION"
          dotnet publish --configuration Release /p:Version=$VERSION --output ./gh-pages src/CycloneDX.WebTool/CycloneDX.WebTool.csproj
          cd gh-pages/wwwroot
          zip -r ../../CycloneDX.WebTool.zip ./
          tar -zcvf ../../CycloneDX.WebTool.tar.gz ./
          cd ../..

      - name: Create github release and git tag for release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_name: ${{ steps.package_release.outputs.version }}
          tag_name: v${{ steps.package_release.outputs.version }}
          draft: false
          prerelease: false

      - name: Upload zip package to github release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: CycloneDX.WebTool.zip
          asset_name: CycloneDX.WebTool.${{ steps.package_release.outputs.version }}.zip
          asset_content_type: application/zip

      - name: Upload tar.gz package to github release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: CycloneDX.WebTool.tar.gz
          asset_name: CycloneDX.WebTool.${{ steps.package_release.outputs.version }}.tar.gz
          asset_content_type: application/gzip
      
      - name: Update GitHub pages
        run: |
          git fetch origin gh-pages:gh-pages
          git config --local user.email "$(git show --format="%aN" | head -n 1)"
          git config --local user.name  "$(git show --format="%aE" | head -n 1)"
          git add .
          git stash
          git checkout gh-pages
          cp -rv ./gh-pages/wwwroot/* ./docs
          git add docs
          git commit -m "Update GitHub pages" || true
          git push https://${{ github.actor }}:${{ github.token }}@github.com/${{ github.repository }}.git HEAD:gh-pages

  docker:
    name: docker
    runs-on: ubuntu-latest
    needs:
      - release
    env:
      IMAGE_NAME: cyclonedx-web-tool
      IMAGE_VERSION: ${{ needs.release.outputs.release-version }}

    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          build-args:
            VERSION=${{ env.IMAGE_VERSION }}
          tags: |
            cyclonedx/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
            cyclonedx/${{ env.IMAGE_NAME }}:latest